/* CSS */

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* pop up caché */
.popup .popuptext {
  visibility: hidden;
}

/* apparition du pop up */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

#tab {
  width:150%;
  text-align: center;
  border-collapse: collapse;
  background-color:SlateBlue;
  color:white;
  border-radius: 12px;
}

#case {
  padding: 15px;
  text-align: center;
}

#refresh {
	background-color:white;
    color:SlateBlue;
    width:40%;
    font-weight:bold;
}
